
.DS_Store
.vs/Market/DesignTimeBuild/.dtbcache
.vs/Market/v16/.suo
.vs/Market/v16/Server/sqlite3/storage.ide
Market/obj/Debug/netcoreapp2.2/Market.assets.cache
Market/obj/Debug/netcoreapp2.2/Market.csproj.CoreCompileInputs.cache
Market/obj/Debug/netcoreapp2.2/Market.csprojAssemblyReference.cache
Market/obj/Market.csproj.nuget.cache
Market/obj/Market.csproj.nuget.dgspec.json
Market/obj/Market.csproj.nuget.g.props
Market/obj/Market.csproj.nuget.g.targets
Market/obj/project.assets.json
Market/appsettings.json

Market/Resources/Images/
.vs/Market/config/applicationhost.config
.vs/Market/v16/.suo
Market/bin/Debug/netcoreapp2.2/appsettings.json
Market/bin/Debug/netcoreapp2.2/Market.deps.json
Market/bin/Debug/netcoreapp2.2/Market.dll
Market/bin/Debug/netcoreapp2.2/Market.pdb
Market/bin/Debug/netcoreapp2.2/Market.runtimeconfig.dev.json
Market/obj/Debug/netcoreapp2.2/Market.csproj.FileListAbsolute.txt
Market/obj/Debug/netcoreapp2.2/Market.dll
Market/obj/Debug/netcoreapp2.2/Market.pdb
.vs/Market/v16/.suo
.vs/Market/v16/Server/sqlite3/storage.ide-wal
.vs/Market/v16/.suo
.vs/Market/v16/Server/sqlite3/storage.ide-shm
.vs/Market/v16/Server/sqlite3/storage.ide-wal
Market/appsettings.json
Market/obj/Debug/netcoreapp2.2/Market.assets.cache
Market/obj/Debug/netcoreapp2.2/Market.csproj.CoreCompileInputs.cache
Market/obj/Market.csproj.nuget.cache
Market/obj/Market.csproj.nuget.dgspec.json
Market/obj/Market.csproj.nuget.g.props
Market/obj/Market.csproj.nuget.g.targets
Market/obj/project.assets.json
.vs/Market/xs/UserPrefs.xml
.vs/Market/xs/UserPrefs.xml
Front/src/app/api.service.ts
Market/appsettings.json
Market/bin/Debug/netcoreapp2.2/Market.dll
Market/bin/Debug/netcoreapp2.2/Market.pdb
Market/bin/Debug/netcoreapp2.2/Market.runtimeconfig.dev.json
Market/obj/Debug/netcoreapp2.2/Market.assets.cache
Market/obj/Debug/netcoreapp2.2/Market.csproj.CoreCompileInputs.cache
Market/obj/Debug/netcoreapp2.2/Market.csproj.FileListAbsolute.txt
Market/obj/Debug/netcoreapp2.2/Market.dll
Market/obj/Debug/netcoreapp2.2/Market.pdb
Market/obj/Market.csproj.nuget.cache
Market/obj/Market.csproj.nuget.dgspec.json
Market/obj/Market.csproj.nuget.g.props
Market/obj/Market.csproj.nuget.g.targets
Market/obj/project.assets.json
Models/obj/Debug/netcoreapp2.2/Models.assets.cache
Models/obj/Debug/netcoreapp2.2/Models.csprojAssemblyReference.cache
Models/obj/Models.csproj.nuget.cache
Models/obj/Models.csproj.nuget.dgspec.json
Models/obj/Models.csproj.nuget.g.props
Models/obj/Models.csproj.nuget.g.targets
Models/obj/project.assets.json
Repositories/obj/Debug/netcoreapp2.2/Repositories.assets.cache
Repositories/obj/Debug/netcoreapp2.2/Repositories.csprojAssemblyReference.cache
Repositories/obj/project.assets.json
Repositories/obj/Repositories.csproj.nuget.cache
Repositories/obj/Repositories.csproj.nuget.dgspec.json
Repositories/obj/Repositories.csproj.nuget.g.props
Repositories/obj/Repositories.csproj.nuget.g.targets
UnitsOfWork/obj/Debug/netcoreapp2.2/UnitsOfWork.assets.cache
UnitsOfWork/obj/Debug/netcoreapp2.2/UnitsOfWork.csprojAssemblyReference.cache
UnitsOfWork/obj/project.assets.json
UnitsOfWork/obj/UnitsOfWork.csproj.nuget.cache
UnitsOfWork/obj/UnitsOfWork.csproj.nuget.dgspec.json
UnitsOfWork/obj/UnitsOfWork.csproj.nuget.g.props
UnitsOfWork/obj/UnitsOfWork.csproj.nuget.g.targets
